 /* CSS pour la bannière */
 
 header { 
    width: 100%;
    height: 10px;
    background-color: rgb(30, 202, 30);
    padding: 20px;
    /*color: rgb(182, 217, 192);*/
    text-align: center;
    font-size: 1.3em;
  }

  /* CSS pour le contenu de la page */
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  h1{
    width: 100%;
    height: 80px;
    background-color: rgb(12, 242, 12);
    text-align: center;
  }

  p{
    color:rgb(12, 12, 12);
  }

  /* CSS pour les réseaux sociaux */
  .social {
    text-align: center;
    margin-top: 20px;
  }

  .social a {
    display: inline-block;
    margin-right: 10px;
    color: green;

    }
    .center {
      float: center;
      margin: auto;
      display: block;
    }
    